body {
    font-size: 16px;
    line-height: 1.5;
    background-image: url("https://static.wixstatic.com/media/11062b_e99306c3d2d4486aad4cf870eb722bed~mv2.jpg/v1/fill/w_1899,h_1039,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/11062b_e99306c3d2d4486aad4cf870eb722bed~mv2.jpg");
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Verdana;
    color: white;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
  }

  h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}
  
  p {
    margin: 0 0 10px 0;
  }
  
  .clip-svg {
    width: 0;
    height: 0;
  }
  
  .img-clip-block {
    font-family: 'Verdana', sans-serif;
    margin: 20px 0;
  }
  
  .img-clip-row {
    text-align: center;
  }
  
  .img-clip-row:first-of-type .img-clip-wrap {
    background-position: top;
  }
  
  .img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(odd) {
    background-position: left;
  }
  
  .img-clip-row:nth-of-type(2) .img-clip-wrap:nth-of-type(even) {
    background-position: right;
  }
  
  .img-clip-row:last-of-type .img-clip-wrap {
    background-position: bottom;
  }
  
  .img-clip-wrap {
    width: 300px; 
    height: 300px; 
    background-image: url("https://i.ibb.co/gFNBDbj/yoga.jpg"); 
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: url("#clip-diamond-demo");
  }
  
  .overlay {
    background: rgba(171, 147, 116, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .overlay-content {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 180%;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }

  .logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	cursor: crosshair;
	text-align: center;
	display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: grey;
}
  
  .img-clip-wrap:hover .overlay {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    background: none;
  }
  
  .img-clip-img {
    display: block;
  }
  
  @media only screen and (min-width: 650px) {
    .img-clip-row {
      margin-top: -154px;
    }
  
    .img-clip-row:first-of-type {
      margin-top: auto;
    }
  
    .img-clip-wrap {
      display: inline-block;
    }
  }
  
